<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Management System - Login page</title>
    <!-- google font: Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/entry-page.css" />
    <link rel="icon" href="../static/css/img/logo.png" type="image/png" />
  </head>
  <body>
    <div class="row height-full">
      <!-- left side -->
      <div
        class="left-column flex flex-column height-full justify-center items-center"
      >
        <img src="../static/css/img/logo.png" alt="Logo" class="logo-login" />
        <h1 class="welcoming-title">Welcome back</h1>
        <form method="post" id="Login" class="form" autocomplete="off">
          <label for="email" class="label">Email</label>
          <input type="email" name="email" id="email" class="input" required />

          <label for="password" class="label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="input"
            required
          />
          
          <p class="forgot-password-prompt">
            <a href="/forgot-password.html" class="forgot-password-link"
            >Forgot password?</a>
          </p>

          <button
            type="submit"
            class="button regular-button pink-background cta-btn"
          >
            Log in
          </button>
        </form>
        <p class="sign-up-prompt">
          Don’t have an account?
          <a href="./signup.html" class="sign-up-link">Sign up</a>
        </p>
      </div>
      <!-- right side -->
      <div class="right-column"></div>
    </div>
    <script src="../static/css/js/login.js"></script>
  </body>
</html>