<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Management System - Change password</title>
    <!-- google font: Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/entry-page.css" />
    <link rel="icon" href="../static/css/img/logo.png" type="image/png"/>
  </head>
  <body>
    <div class="row height-full">
      <!-- left side -->
      <div
        class="left-column flex flex-column height-full justify-center items-center"
      >
        <img src="../static/css/img/logo.png" alt="Logo" class="logo-success-otp" />
        <h1 class="welcoming-title">Make sure to remember your password.</h1>
        <form id="change-password-form" class="form" autocomplete="off">
          <label for="password" class="label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="input"
            required
          />

          <label for="confirm-password" class="label">Confirm Password</label>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            class="input"
            required
          />

          <p id="error-message" class="error-message" style="display:none; color:red;">
            Passwords do not match.
          </p>
          <p id="success-message" class="success-message" style="display:none; color:green;">
            Password changed successfully. Redirecting to login...
          </p>

          <button
            type="submit"
            class="button regular-button pink-background cta-btn"
          >
            Submit
          </button>
        </form>
      </div>
      <!-- right side -->
      <div class="right-column"></div>
    </div>
    <!-- JS -->
    <script src="../static/css/js/login.js"></script>
  </body>
</html>